<% layout("/layouts/boilerplate.ejs") -%>
    <div class="center">
        <img src="<%= process.env.MYIMAGE %>" alt="MyImg" class="myimage">
        <h3> <span class="hi-emoji"> &#128075; </span> Hello, World ! </h3>
        <p class="text aboutme">
            I'm <b class="glowing-text"><i> Manash </i></b> , a curious and motivated IT student with a passion for
            building clean, <br>
            functional, and user-friendly web applications. Whether it's front-end design or back-end logic, I love <br>
            turning ideas into reality through programming. <br>
            When I'm not coding, you'll often find me engaging in competitive Pokémon battles — a hobby <br>
            that challenges my strategic thinking and keeps my mind sharp. I believe in continuous learning <br>
            and staying up-to-date with the latest web technologies and best practices.
        </p>
        <br>
        <h3 class="mb-2"> Skills </h3>
        <div class="skillset">
            <span class="skill">
                <i class="fa-brands fa-js"></i>
                <h5> JavaScript </h5>
            </span>
            <span class="skill">
                <i class="fa-brands fa-react"></i>
                <h5> React </h5>
            </span>
            <span class="skill">
                <i class="devicon-nodejs-line"></i>
                <h5> Node.js </h5>
            </span>
            <span class="skill">
                <i class="devicon-mongodb-plain"></i>
                <h5> MongoDB </h5>
            </span>
            <span class="skill">
                <i class="fa-brands fa-java"></i>
                <h5> Java </h5>
            </span>
            <span class="skill">
                <i class="devicon-express-original"></i>
                <h5> Express </h5>
            </span>
            <span class="skill">
                <i class="fa-brands fa-html5"></i>
                <h5> HTML5 </h5>
            </span>
            <span class="skill">
                <i class="devicon-bootstrap-plain"></i>
                <h5> Bootstrap </h5>
            </span>
            <span class="skill">
                <i class="fa-brands fa-css3-alt"></i>
                <h5> CSS3 </h5>
            </span>
            <span class="skill">
                <i class="fa-brands fa-python"></i>
                <h5> Python </h5>
            </span>
            <span class="skill">
                <i class="devicon-cplusplus-plain"></i>
                <h5> C++ </h5>
            </span>
            <span class="skill">
                <i class="devicon-c-line"></i>
                <h5> C </h5>
            </span>
            <span class="skill mysql">
                <i class="devicon-mysql-original"></i>
                <h5> MySQL </h5>
            </span>
            <span class="skill">
                <i class="fa-brands fa-git-alt"></i>
                <h5> Git </h5>
            </span>
            <span class="skill">
                <i class="fa-brands fa-github"></i>
                <h5> GitHub </h5>
            </span>
        </div>
    </div>