<% layout("/layouts/boilerplate.ejs") -%>
    <div class="center">
        <h1 class="mt-4 mb-3"> My Achievements </h1>
        <p class="text"> Milestones and recognition throughout my journey </p>
        <br>
        <div class="achievements mb-4">
            <div class="achievecard">
                <div class="achieveimg mb-3">
                    &#127942;
                </div>
                <div class="achievetext mb-3">
                    <h3> Outstanding Academic Performance </h3>
                </div>
                <div class="text mb-3">
                    Remarkable CGPA of 9.9/10
                </div>
                <a href="https://drive.google.com/file/d/1ctUnrxYms0Gf9V5NxKGzx9ailcxXp98b/view?usp=drivesdk"
                    target = "_blank" class="achievelink"> View Certificate &#8594 </a>
            </div>
            <div class="achievecard">
                <div class="achieveimg mb-3">
                    &#128220;
                </div>
                <div class="achievetext mb-3">
                    <h3> Certified in Web Development & DSA </h3>
                </div>
                <div class="text mb-3">
                    Sigma 6.0 from Apna College
                </div>
                <a href="https://drive.google.com/file/d/1cQtjVIL6aHSJe-Le6DKLgoU5ScMF5pff/view?usp=drivesdk"
                    target = "_blank" class="achievelink"> View Certificate &#8594 </a>
            </div>
            <div class="achievecard">
                <div class="achieveimg mb-3">
                    &#128187;
                </div>
                <div class="achievetext mb-3">
                    <h3> Regular Contributor on LeetCode </h3>
                </div>
                <div class="text mb-3">
                    Solved 500+ DSA problems
                </div>
                <a href="#" class="achievelink"> Achieving... </a>
            </div>
            <div class="achievecard">
                <div class="achieveimg mb-3">
                    &#128101;
                </div>
                <div class="achievetext mb-3">
                    <h3> Webathon 2026 Winner </h3>
                </div>
                <div class="text mb-3">
                    A two-day hackathon at D.G. Ruparel College, Mumbai
                </div>
                <a href="#" class="achievelink"> Achieving... </a>
            </div>
        </div>
    </div>