<% layout("/layouts/boilerplate.ejs") -%>
    <div class="name">
        <div>
            Manash
            <span class="glowing-text">Giri</span>...
        </div>
    </div>
    <div class="description">
        I'm a B.Sc student in Information Technology with strong skills in Java and the MERN stack <br>
        (MongoDB, Express, React, Node.js). I'm passionate about building creative and efficient <br>
        software solutions. I'm looking for a Full-Stack Web Developer role where I can <br>
        apply my technical skills and problem-solving mindset <br>
        to create impactful user experiences.
    </div>
    <div class="skills">
        <div class="skills1 skillstart">
            <span> Java </span>
            <span> MongoDB </span>
            <span> Express </span>
        </div>
        <div class="skillstart">
            <span> React </span>
            <span> Node.js </span>
            <span> JavaScript </span>
        </div>
    </div>
    <div class="contact">
        <a href="https://drive.google.com/file/d/1dhZ4VUvzhKlH54Lopmpd1AtFOlzK1g9J/view?usp=drivesdk" target="_blank">
            Hire Me </a>
        <a href="mailto:503manashsvjc@gmail.com" target="_blank" class="mb-5"> Contact Me </a>
    </div>